{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ERP - Registration</title>
    <link href="{% static 'styles/styles.css' %}" rel="stylesheet" />
  </head>
  <body>
    <h1>ERP</h1>
    <h2>Registration</h2>
    <form method="POST">
      {% csrf_token %} {{ form.as_p }}

      <!-- Sprawdź, czy są błędy, ale tylko wyświetlaj je przy polach -->

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
