{% extends 'erp/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Welcome, {{ request.user.username }}!</h1>

    {% if user_teams %}
    <p>You are part of the following teams:</p>
    <ul>
      {% for team in user_teams %}
      <li>
        {{ team.name }} -
        <a href="{% url 'team_page_view' team.id %}">Select team</a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>You are not part of any team.</p>
    {% endif %}

    <br /><hr>
    <h2>Actions</h2>
      <form action="{% url 'team_create' %}" method="get">
        <button type="submit">Add Team</button>
      </form>
      <form action="{% url 'join_team_view' %}" method="get">
        <button type="submit">Join the Team</button>
      </form>
  </div>
  {% endblock %}

